<!DOCTYPE html>
<html>
<title>jy's power board</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
    <div class="w3-center w3-padding-16">jy's Board</div>
 </div>
</div>


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">    
    
      <div class="w3-row-padding" id ="write">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Write here.</h6>
              <p contenteditable="true" class="w3-border w3-padding" id = "writeContent"></p>
              <button type="button" class="w3-button w3-theme" onclick="createBoard()"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div>
        </div>
      </div>
      
    <div id ="content"></div>
            
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>

<script type="text/javascript">
window.onload = retrieveBoardList();

function retrieveBoardList(){
	const query = `query{
		getBoardList{
			boardId
			content
			date
		}
	}`;
	
	sendApi(query)
		.then((res) => res.json())
		.then(json => {
			reDraw(json.data)
	});
	
}

function createBoard(){
	let text = document.getElementById('writeContent').innerHTML;
	document.getElementById('writeContent').innerHTML = "";
	
	const query = `mutation{
		setBoard(
			content: "${text}"
			){
				boardId
				content
				date
			}
		}`;
	
	sendApi(query).then((res) => {
		retrieveBoardList(); 
    });	
	
}

function sendApi(query){
	return fetch(
			'http://localhost:8081/graphql',
			{
				method: 'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body: JSON.stringify({ query })
			}
		);
}

function reDraw(boardList){
	const parentDiv = document.getElementById("content");
	parentDiv.innerHTML = '';
	
	for(let i = 0; i < boardList.getBoardList.length; i++){
		  var newDiv = drawContent(boardList.getBoardList[i]);
		  parentDiv.append(newDiv);
	}
}

function drawContent(board){	
	var newDiv = document.createElement("div");
	newDiv.setAttribute("id","content" + board.boardId);
	newDiv.setAttribute("class","w3-container w3-card w3-white w3-round w3-margin");
	  
	var image = document.createElement("img");
	image.setAttribute("src","/resources/images/person.png");
	image.setAttribute("alt","Avatar");
	image.setAttribute("class","w3-left w3-circle w3-margin-right");
	image.setAttribute("style","width:60px");

	var date = document.createElement("span");	  
	date.setAttribute("class","w3-right w3-opacity");
	
	var dateValue = document.createTextNode(board.date);
	date.appendChild(dateValue);
	  
	var userName = document.createElement("h4");
	var nameValue = document.createTextNode("anonymous");
	userName.appendChild(nameValue);
	   
	var line = document.createElement("hr");
	line.setAttribute("class","w3-clear");
	  
	var content = document.createElement("p");
	var contentValue = document.createTextNode(board.content);
	content.appendChild(contentValue);
	  
	newDiv.append(image);	  
	newDiv.append(date);	 
	newDiv.append(userName);	 
	newDiv.append(line);	 
	newDiv.append(content);	
	
	return newDiv;
}    
</script>

</body>
</html> 
