<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<meta charset="UTF-8">
<title>Graphql Board</title>
</head>
<body class = "bg-light">
	<div class="container py-1">
	      <p class="lead text-center">
	      Graphql Board
	      </p>
	</div>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
          
        <div class="card mt-4">
          	<div class="card-body">
            	<h3 class="card-title text-center">Insert here</h3>
            		<form class="needs-validation">
					  <div class="mb-3">
						  <div class="row">
							  <div class="col">
							  	<label for="inputAuthor">Author</label>
							    <input type="text" class="form-control" id="inputAuthor">
							  </div>
							  <div class="col">
							  	<label for="inputRemoveKey">Remove Key</label>
							    <input type="password" class="form-control" id="inputRemoveKey">
							  </div>
							</div>
					  </div>
					  
					  <div class="mb-3">
					    <label for="inputContent">Content</label>
					    <input type="text" class="form-control" id="inputContent">
					  </div>
					  <button type="submit" class="btn btn-primary" onclick="create()">Submit</button>
					</form>
        	</div>
        </div>
      
      
        <div id="boardList" class="card card-outline-secondary my-2"> </div>
      
</div>
    

<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
					    <label for="inputRemove">Insert Remove Key</label>
					    <input type="text" class="form-control" id="inputRemove">
					    <input type="hidden" class="form-control" id="inputRemoveId">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="remove()" data-bs-dismiss="modal">Remove</button>
      </div>
    </div>
  </div>
</div>
        
    </div>
  <!-- Footer -->
  <footer class="py-1">
    <div class="container">
      <p class="m-0 text-center">
      <a class="nav-link" th:href="@{https://github.com/pond1029}">Github</a>
      Pond1029@naver.com
      </p>
    </div>
    <!-- /.container -->
  </footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/jquery.js}"></script>
</body>
<script type="text/javascript">
retrieve();

function remove(){
	var removeKey = document.getElementById('inputRemove').value;
	document.getElementById('inputRemove').value = "";

	var removeId = document.getElementById('inputRemoveId').value;
	document.getElementById('inputRemoveId').value = "";
	
	const query = `mutation{
		removeBoard(
				boardId:${removeId},
				removeKey:"${removeKey}"
			){
				boardId
				content
				author
				updatedDate
			}
		}`;
	
	sendApi(query).done((res) => {
		retrieve(); 
    });	
}

function retrieve(){
	const query=`{
		getBoardList{
		boardId
		content
		author
		updatedDate
		}
	}`;
	
    sendApi(query).done((fragment) => {
    	reDraw(fragment.data);
    });    
}

function create(){
	var author = document.getElementById('inputAuthor').value;
	document.getElementById('inputAuthor').value = "";
	var content = document.getElementById('inputContent').value;
	document.getElementById('inputContent').value = "";
	var removeKey = document.getElementById('inputRemoveKey').value;
	document.getElementById('inputRemoveKey').value = "";
	
	const query = `mutation{
		setBoard(
				author:"${author}",
				content:"${content}",
				removeKey:"${removeKey}"
			){
				boardId
				content
				author
				updatedDate
			}
		}`;
	
	sendApi(query).done((res) => {
		retrieve(); 
    });	
}

function sendApi(query){	 

	var url = location.protocol+'//' + location.hostname + ':' + location.port + '/graphql';
	 return $.ajax({
	        url: url,
	        type:"POST",
	        contentType: "application/json",
	        data: JSON.stringify({ query }),
	    });

}

function reDraw(boardList){
	const parentDiv = document.getElementById("boardList");
	parentDiv.innerHTML = '';
	
	for(let i = 0; i < boardList.getBoardList.length; i++){
		  var newDiv = drawContent(boardList.getBoardList[i]);
		  parentDiv.append(newDiv);
	}
}

function setId(boardId){
	document.getElementById('inputRemove').value = '';
	document.getElementById('inputRemoveId').value = boardId;
}

function drawContent(board){	
	var newDiv = document.createElement("div");
	newDiv.setAttribute("id","content" + board.boardId);
	newDiv.setAttribute("class","card m-2");
		
	var card = document.createElement("div");
	card.setAttribute("class","card-body jumbotron");

	var author = document.createElement("h4");	  
	author.setAttribute("class","card-title");
	
	var authorValue = document.createTextNode(board.author);
	author.appendChild(authorValue);
	  
	var date = document.createElement("small");
	date.setAttribute("class","text-muted");
	
	var dateValue = document.createTextNode(board.updatedDate);
	date.appendChild(dateValue);

	var removeButton = document.createElement("button");
	removeButton.setAttribute("id",board.boardId);	
	removeButton.setAttribute("class","btn btn-secondary btn-sm");
	removeButton.setAttribute("data-bs-toggle","modal");
	removeButton.setAttribute("data-bs-target","#removeModal");
	removeButton.setAttribute("onclick","setId(this.id)");
	
	var removeText = document.createTextNode("remove");
	removeButton.appendChild(removeText);
		  
	var content = document.createElement("p");
	var contentValue = document.createTextNode(board.content);
	content.appendChild(contentValue);
	  	  
	card.append(author);	 
	card.append(date);	 
	card.append(removeButton);	 
	card.append(content);	
	newDiv.append(card);
	
	return newDiv;
}   


</script>
</html>